#heading{
    margin-top: 20cm;
}
p, h1{
    font-weight: bolder;
    font-family: Times New Roman;
    margin: 20px;
}
h2{
    text-decoration: underline;
    font-family: Times New Roman;
    color:black
}
.jumbotron{
    margin: 10px;
}
#educ1, #po, #trai, #proj, #skills{
    color: yellowgreen;
    text-transform: uppercase;
    font-size: 20px;
}
h4{
    text-decoration: underline;
}